* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #09090A 0%, #181719 47.57%, #36343B 126.85%, #39363D 126.85%);
    color: white;

}
main{
    display: flex;
    width: 100%;
  
}

.texto {
    display: flex;
    width: 744px;
    height: 572px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: 100px;
}

.texto h1 {
    align-self: stretch;


    font-family: Roboto Condensed;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;

}

.texto h3 {
    align-self: stretch;

    color: var(--neutral-colors-gray-gray-300, #8D8D99);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 140%;

}

.texto button {
    display: flex;
    height: 50px;
    padding: 20px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;

    display: flex;
    width: 250px;
    height: 72px;
    padding: 11.406px 0.601px 12.593px 0px;
    justify-content: center;
    align-items: center;
    color: #C6ADFF;

    background-color: #202024;
    border-radius: 40px;
    font-size: 25px;
    border: none;
}

.texto button span {
    color: #8257E5;

}

.logo {

    display: flex;
    width: 200px;
    height: 50px;

}

.avaliacao {
     
}

/* .avaliacao .imagem-1 {
    width: 626px;
    height: 856px;
    flex-shrink: 0;

    border-radius: 40px;
    background: url(./src/imagen-fundo-1.png) 100% 113.093% no-repeat;
    filter: blur(8px);
}

.avaliacao .imagem-2 {
    width: 626px;
    height: 856px;
    flex-shrink: 0;

    border-radius: 40px;
    background: url(./src/imagen-fundo-2.png) 100% 113.093% no-repeat;
    filter: blur(8px);
} */

.avaliacao img{
    width: 400px;
    height:600px;
   position: absolute;
   margin-top: 30px;
    
}
.avaliacao .fundo{
    padding: 150px;
}
 .fundo .imagem-1 img{
    width: 280px;
    height: 300px;
    position: absolute;
    margin-left: 240px;
   
    
  
}
 .fundo .imagem-2  img{
    width: 356px;
    height: 325px;
    margin-top: 304px;
    margin-left: 150px;
   
}